a:link {
    color: blue;
}

a:visited {
    color: rgb(3, 3, 119);
}

a:focus {
    color: blue;
}

a:hover {
    color: rgb(105, 105, 241);
}

a {
    text-decoration: none;
    font-weight: bold;
}